# GENERAL
PORT= //port number for the server to listen on
LOG_DIRECTORY= //directory where logs will be stored
NODE_ENV= //environment the application is running in (development, production, etc.)

# TOKEN CONFIG
ACCESS_TOKEN_VALIDITY_SEC= //validity period of the access token in seconds
REFRESH_TOKEN_VALIDITY_SEC= //validity period of the refresh token in seconds
JWT_ISSUER= //issuer of the JWT token
JWT_AUDIENCE= //audience of the JWT token
JWT_SECRET= //secret key used for signing the JWT token
JWT_ALGORITHM= //algorithm used for signing the JWT token (e.g., HS256, RS256)



# ALOC CONFIGS
ALOC_API_KEY= //API key for ALOC service
ALOC_BASE_URL= //base URL for ALOC service


# PRISMA 
POSTGRES_TEST_DB= //name of the test database for Prisma
POSTGRES_DB= //name of the main database for Prisma
POSTGRES_PORT= //port number for the PostgreSQL database
POSTGRES_HOST= //host address for the PostgreSQL database
POSTGRES_PASSWORD= //password for the PostgreSQL database
POSTGRES_USER= //username for the PostgreSQL database

#PG ADMIN
PGADMIN_DEFAULT_EMAIL= //default email for PG Admin
PGADMIN_DEFAULT_PASSWORD= //default password for PG Admin

# REDIS
REDIS_HOST= //host address for the Redis server
REDIS_PASSWORD= //password for the Redis server
REDIS_PORT= //port number for the Redis server

# RESEND
RESEND_API_KEY= //API key for RESEND service